.cart-page {
	/* position: relative; */
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
	grid-gap: 1.25rem;
}
.cart-page,
.return-explanation {
	max-width: 1440px;
}
/* cart-header styles */
.cart-header h2 {
	color: var(--text-primary-color);
	font-size: 1.5rem;
	text-transform: uppercase;
}
.cart-header p {
	color: var(--text-secondary-color);
	font-size: 0.875rem;
	font-weight: 300;
}
/* CART ITEMS styles */
.cart-items-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-gap: 1rem;
	/* border: 2px solid rgb(3, 255, 45); */
}
.cart-item {
	border: 1px solid var(--border-secondary-color);
	display: grid;
	grid-template-columns: 2fr 3fr;
	height: 240px;
	position: relative;
}
.cart-item img {
	width: 100%;
	height: 100%;
	max-width: 240px;
	object-fit: contain;
}
.cart-item-explanations {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2rem 2rem 2rem auto;
	align-items: center;
}
.cart-item-explanations p {
	color: var(--text-secondary-color);
	font-weight: 300;
	text-transform: uppercase;
	font-style: italic;
}
.cart-item-explanations .price {
	font-weight: 500;
	color: var(--text-primary-color);
}
.cart-item-explanations select {
	border: 1px solid var(--border-primary-color);
	font-weight: 500;
	margin-top: 2rem;
	padding: 5px;
	width: 100px;
	height: 3rem;
}
.cart-item-close {
	background-color: #fff;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1.5rem;
	position: absolute;
	right: 5px;
	top: 5px;
	transition: all 0.3s ease;
}
.cart-item-close:hover {
	opacity: 0.4;
}

/* CART SUMMARY styles */
.cart-summary {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 300;
}
.cart-summary .summary {
	font-weight: 500;
	font-size: 1.2rem;
}
.cart-summary-total {
	font-weight: 500;
}
.cart-summary-delivery,
.cart-summary-total,
.cart-summary-voucher,
.cart-summary .amount {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0;
}
.cart-summary-voucher {
	color: rgb(103, 170, 3);
	font-weight: 500;
}
/* CHECKOUT BUTTON style */
.checkout-btn {
	background-color: var(--text-primary-color);
	border: none;
	border-radius: 50px;
	color: #f7f5f5;
	cursor: pointer;
	margin: auto;
	padding: 1rem 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease;
	width: 80%;
}
.checkout-btn:hover {
	opacity: 0.8;
}

@media screen and (min-width: 950px) {
	.cart-header {
		align-self: start;
		grid-area: cart-header;
	}
	.cart-header h2 {
		font-size: 2.75rem;
	}
	.cart-header p {
		font-size: 1rem;
	}
	/* .return-explanation {
		grid-area: return-explanation;
	} */
	.cart-items-container {
		grid-area: cart-items;
	}
	.cart-summary {
		grid-area: cart-summary;
		align-self: end;
	}
	.checkout-btn {
		grid-area: checkout-btn;
		align-self: start;
		margin: 0 auto;
	}
	.cart-page {
		grid-template-columns: 5fr 2fr;
		grid-template-rows: 100px, 200px auto;
		grid-gap: 3rem;
		align-items: end;
		grid-template-areas:
			"cart-header cart-summary"
			"cart-items checkout-btn";
		/* "cart-items checkout-btn"; */
		/* "cart-header cart-header"
			"cart-items cart-summary"
			"cart-items checkout-btn"; */
	}
}
