html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue";
}
:root {
	--text-primary-color: #000;
	--text-secondary-color: #555;
	--border-primary-color: #303030;
	--border-secondary-color: #ddd;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	font-weight: 300;
}
/*------- label, input and button default styling ---------*/
label {
	margin: 0;
	font-size: 18px;
	font-weight: 470;
}

input {
	padding: 1em;
	border-radius: 5px;
	border: solid 1px var(--secondary-text-color);
}
/*----------- Main App class ------------*/
#root {
	/* width: 100%; */
	/* min-height: 100vh; */
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
	/* grid-template-rows: 100px auto; */
	/* border: 1px solid red; */
}

/* Main section general styles */
main {
	width: 90%;
	max-width: 1440px;
}

/* FOOTER STYLES */
footer {
	width: 100%;
	color: #f7f5f5;
}
footer .footer-items-container {
	background-color: var(--text-primary-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	padding: 2rem 0rem;
}

/* Footer style */
footer section {
	background-color: var(--border-primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 0.75rem;
	padding: 1rem 0;
}
footer section a {
	padding: 0.5rem 1.5rem;
}
footer a {
	color: white;
}

.footer-items-container a {
	padding: 0.5rem 0rem;
	display: block;
	font-weight: 300;
	font-size: 0.75rem;
	text-align: center;
	text-decoration: none;
}
/* Social links styles */

footer .social-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.social-links a {
	font-size: 1rem;
	transition: all 0.5s ease;
}
.social-links a:hover {
	transform: scale(1.15);
}
@media screen and (min-width: 1024px) {
	footer .footer-items-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
