html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue";
}
:root {
	--text-primary-color: #000;
	--text-secondary-color: #555;
	--border-primary-color: #303030;
	--border-secondary-color: #ddd;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
	font-weight: 300;
}
/*------- label, input and button default styling ---------*/
label {
	margin: 0;
	font-size: 18px;
	font-weight: 470;
}

input {
	padding: 1em;
	border-radius: 5px;
	border: solid 1px var(--secondary-text-color);
}
/*----------- Main App class ------------*/
#root {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-gap: 1rem;
	justify-items: center;
	grid-template-rows: 100px auto;
	/* border: 1px solid red; */
}

/* Main section general styles */
main {
	width: 90%;
	max-width: 1440px;
}
