header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
}
.logo {
	height: 80px;
}

nav ul {
	display: flex;
	list-style-type: none;
}
nav ul a {
	color: var(--text-primary-color);
	padding: 0.5rem 1rem;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	transition: all 0.4s ease;
}
nav ul a:hover {
	border-color: #000;
}
.searchContainer {
	position: relative;
}
.searchContainer svg {
	position: absolute;
	right: 0;
	top: 20%;
}
.searchContainer input {
	border: 1px solid var(--border-secondary-color);
	padding: 0.5rem 0.5rem;
	transition: all 0.5s ease;
}
.searchContainer input:focus {
	border-color: var(--border-primary-color);
	outline: none;
}
